* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.page-layout {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;

    display: grid;
    align-items: center;

    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
}

.page-content {
    grid-column: 2 / 3;

    display: grid;
    align-items: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
}

@media (max-width: 900px) {
    .page-layout {
        grid-template-columns: 1fr;
    }

    /*.page-content {*/
    /*    grid-template-columns: 1fr;*/
    /*}*/
}

.header {
    grid-column: 1 / -1;
}

.tile {
    border-radius: 40px;
    width: 100%;
}

.pfp {
    background-color: green;
    columns: 1;
}

.papers {
    background-color: blue;
    columns: 2;
}

.software {
    background-color: purple;
    columns: 1;
}

.about {
    background-color: orange;
    grid-row: 2;
}

